.header-content {
  display: inline-block;
  font-size: 200px;
  font-weight: 700;
  padding: 40 40 40 40;
  font-size: xx-large;

  .f {
    color: blue;
  }

  .u {
    color: red;
  }

  .n {
    color: yellow;
  }

  .d {
    color: blue;
  }

  .o {
    color: green;
  }

  .o2 {
    color: red;
  }
  .a{
    color: brown;
  }
  .p{
    color: steelblue;
  }
  .p2{
    color: yellow;
  }
}
