<div fxLayout="row-wrap">
<div *ngFor="let note of notes" style="margin-top: 10%;" >
  <div > <!--onmouseover="hoverChange()" onmouseout="hoverChange()"-->
    <mat-card class="card-div" fxLayout="column" fxLayoutAlign="space-between">
      <div (click)="updateNote(note)" >
        <mat-card-title style="margin-bottom: 20px;">
          {{note.title}}
        </mat-card-title>
        <mat-card-content>
            {{note.description}}
        </mat-card-content>
      </div>
      <div>
        <mat-card-footer > <!--*ngIf="hover"-->
          <app-icons [noteRecieved]="note"></app-icons>
        </mat-card-footer>
      </div>
    </mat-card>
  </div>
</div>
</div>
